@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mix;

.page {
    margin: 0;
    height: 100dvh;

    background-color: var.$color-basic-white;
}

.page__body {
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
    min-width: 320px;
    min-height: 100dvh;

    @include mix.font-main-text;

    @media (min-width: var.$tablet-width) {
        grid-template-rows: auto 1fr auto;
    }

    background-color: var.$color-basic-white;
}

.page__promo {
    position: relative;
}

.page__season-tickets {
    position: relative;
}
