@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mix;

.socials {
    display: flex;
    gap: 15px;
    padding: 0;
    list-style-type: none;
    width: fit-content;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;

    color: var.$color-alter-bg;

    background-color: var.$color-light-bg;

    &:hover,
    &:focus-visible {
        color: var.$color-accent-hover;
    }

    &:active {
        opacity: 0.7;
    }
}
