@use "variables.scss" as var;

@mixin font-main-text {
    font-family: var.$font-text;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var.$color-text-base;
}

@mixin font-alter-text {
    font-family: var.$font-text;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var.$color-basic-white;
}

@mixin font-section-heading {
    font-family: var.$font-text;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: var.$color-text-strong;

    @media (min-width: var.$tablet-width) {
        font-size: 24px;
        line-height: 28px;
    }

    @media (min-width: var.$desktop-width) {
        font-size: 28px;
        line-height: 32px;
    }
}

@mixin font-section-heading-promo {
    font-family: var.$font-text;
    font-size: 36px;
    line-height: 44px;
    font-weight: 300;
    color: var.$color-basic-white;

    @media (min-width: var.$tablet-width) {
        font-size: 48px;
        line-height: 56px;
    }

    @media (min-width: var.$desktop-width) {
        font-size: 64px;
        line-height: 72px;
    }
}

@mixin font-section-subheading {
    font-family: var.$font-headings;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var.$color-text-strong;

    @media (min-width: var.$tablet-width) {
        font-size: 20px;
        line-height: 26px;
    }

    @media (min-width: var.$desktop-width) {
        font-size: 22px;
        line-height: 28px;
    }
}

@mixin font-button {
    font-family: var.$font-text;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var.$color-basic-white;
}

@mixin font-main-menu {
    font-family: var.$font-text;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var.$color-text-base;
}

@mixin font-main-menu-alter {
    font-family: var.$font-text;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var.$color-text-alter;
}

@mixin font-logo {
    font-family: var.$font-headings;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    color: var.$color-text-strong;

    @media (min-width: var.$tablet-width) {
        font-size: 24px;
    }

    @media (min-width: var.$desktop-width) {
        font-size: 30px;
    }
}

@mixin logo-footer {
    font-family: var.$font-headings;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var.$color-basic-white;

    @media (min-width: var.$tablet-width) {
        font-size: 18px;
    }

    @media (min-width: var.$desktop-width) {
        font-size: 20px;
    }
}

@mixin list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
